@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

:root {
    --color1: #0a4289;
    --color2: #140980;
    --color3: #5fc5bd;
    --color4: #b0e4dfd2;
    --color5: #fb3997;
    --color6: #fecf12;
    --color7: #09c5ff; 
    --color8: #0986ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Handlee", cursive;
    background: #ebfffd;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-image: url(/img/fundo.png);
    background-size: cover;
    background-position: center;
    box-shadow: -1px 2px 9px rgba(0, 0, 0, 0.47);
    z-index: 1000;
}


section {
    margin-top: 5%;
}

.container, .container-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.header h1 {
    font-size: 40px;
    color: var(--color2);
    font-weight: 300;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.47);
}

header p {
    font-size: 22px;
    color: var(--color2);
    font-weight: 100;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.47);
    padding-bottom: 2%;
}

a {
    color: var(--color2);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.47);
    text-decoration: none;
    transition: all 0.3s ease;
}

header a:hover {
    color: var(--color1);
    font-size: 24px;
    border-top: 1px solid var(--color1);
}

button {
    width: 100px;
    background: var(--color1);
    color: var(--color3);
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: all 0.2s ease;
}

button:hover {
    font-size: 20px;
}

main {
    margin-top: 190px;
}

.col-6 {
    text-align: center;
    flex: 1;
    padding: 10px;
    margin: 5px;
}

.col-6 h3 {
    font-weight: 900;
    font-size: 25px;
    color: var(--color1);
}

.col-6 h2 {
    font-size: 40px;
    color: var(--color1);
}

.col-6 p {
    font-size: 20px;
    color: rgba(15, 14, 14, 0.696);
}

.col-6 button {
    width: 195px;
    font-size: 17px;
    margin-top: 4%;
}

.col-6 button:hover {
    font-size: 19px;
}

.img {
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
}

.col-12 {
    text-align: center;
    margin: 0 12%;
}

.col-12 h2 {
    font-size: 1.6em;
    color: var(--color1);
    text-shadow: 1px 1px 2px rgba(46, 45, 45, 0.47);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.col-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    min-width: 250px;
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 4px 6px rgba(61, 61, 61, 0.349);
    border: 1px solid var(--color1);
    transition: 0.3s ease;
    background: #fff;
}

.col-4:hover {
    background: #ffffff66;
    transform: translateY(-5px);
}

.col-4 h3 {
    color: var(--color1);
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.47);
}

.col-4 p {
    text-align: center;
    color: rgba(15, 14, 14, 0.696);
    margin: 0 4px;
    font-size: 20px;
}

.formulario-fale-conosco {
    display: flex;
    flex-direction: column;
    background: white;
    position: fixed;
    top: 30%;
    left: -300px;
    padding: 20px;
    border-radius: 5px;
    gap: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.541);
    transition: left 0.5s ease-in-out;
    z-index: 999;
}

input, textarea {
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    outline-color: var(--color2);
}

textarea {
    resize: none;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 40px 20px;
    border-top: 3px solid var(--color1);
    background: linear-gradient(to top, var(--color1), var(--color3));
    box-shadow: 0px -5px 4px rgba(48, 47, 47, 0.144);
}

.roda-pe {
    margin-top: 20px;
    text-align: center;
}

.direitos {
    margin-top: 20px;
    font-size: 15px;
    color: #8fe4ddb9;
}

ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding: 20px 0;
}

ul li {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--color3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.582);
    overflow: hidden;
}

ul li .icon {
    font-size: 2em;
    color: var(--color1);
    position: absolute;
    transition: 0.2s ease;
}

ul li .text {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    transform: scale(0);
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

ul li:hover {
    width: 140px;
}

ul li:hover .icon {
    transform: scale(0);
}

ul li:hover .text {
    transform: scale(1);
}

@media (max-width: 768px) {

    .container-nav{
        display: none;
    }

    .container, .container-nav {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .cards {
        flex-direction: column;
    }

    .col-4 {
        width: 80%;
    }

    .col-6 {
        flex: 100%;
    }

    .imagem {
        width: 100%;
        text-align: center;
    }

    header p {
        font-size: 18px;
    }

    .formulario-fale-conosco {
        width: 90%;
        left: -100%;
    }

    .formulario-fale-conosco.ativo {
        left: 5%;
    }
}
